@font-face {
    src: url("axis.ttf");
}

* {
    -accent: #7b4fcf;
}

.root {
    -fx-background-color: #000;
}

.list {
    -fx-background-color: #0000;
    -fx-background-insets: 0;
}

.list .viewport {
    -fx-background-color: #121215;
    -fx-background-radius: 16px;
}

.border-radius {
    -fx-background-radius: 16px;
}

Label,
RadioButton {
    -fx-text-fill: #fff;
}

.accent {
    -fx-text-fill: -accent;
}

.dark {
    -fx-text-fill: #888;
}

.faint {
    -fx-text-fill: #556;
}

Separator {
    -fx-opacity: 0.1;
}

Button {
    -fx-background-color: #9b3aea;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

Button.gray {
    -fx-background-color: #555;
}

ChoiceBox {
    -fx-background-insets: 0;
}

.axis {
    -fx-font-family: "AXIS Extra Bold";
}

Label.tag {
    -fx-background-color: ladder(hsb(0, 0%, 70%), -color, #0000);
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-border-color: -color;
    -fx-text-fill: -color;
    -fx-padding: 6px 14px;
}
